@infralabs:registry=https://git.ifcshop.net/api/v4/packages/npm/
//git.ifcshop.net/api/v4/packages/npm/:_authToken="<YOUR_PERSONAL_ACCESS_TOKEN>"
//git.ifcshop.net/api/v4/projects/:_authToken="<YOUR_PERSONAL_ACCESS_TOKEN>"
auto-install-peers=true
